/* ipadサイズ */
/* １枚目 */

.page-top{
  /* background-color: red; */
  width: 100%;
  height: 100%;
  
}

.page-top-box {
  position: absolute;
  top: 90px;
  left: 50px;
}

.top-image {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  object-fit: contain;
}

.title {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}
.infomation {
  margin-left: 30px;
}
.infomation-list {
  margin-top: 8px;
  color: #fff;
  font-size: 30px;
}
.scroll-action {
  /* text-decoration: none; */
  color: #fff;
  font-size: 30px;
}
/* １枚目 ここまで*/

/* ２枚目 自己紹介 */
.about{
  /* background-color: blue; */
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  /* フェードインしたい場合は私とのコードをコメントアウト解除 */
  /* opacity : 0;
  transform: translateY(20px);
  transition: all 1.5s; */
}
.heading {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}
.about-contents {
  width: 100%;
  /* height: 100%; */
}
.about-content {
  /* display:  flex; */
  width: 100%;
  height: 100%;
}
.photo-box {
}
.photo {
  text-align: center;
}
.icon-image {
  border-radius: 50%;
  padding: 30px;
  width: 50%;
  height: 70%;
}
.team{
  width: 100%;
  height: 100%;
  /* background-color: cadetblue; */
  padding: 10px;
}
.search-list {
  list-style: none;
  margin-bottom: 2px;
}
.introduction-box {
  /* width: calc(100% - 33%); */
  height: 100%;
  padding: 0 20px;
  /* background-color: blueviolet; */
}
.introduction{
  list-style: none;
  /* font-size: 20px; */
  margin-bottom: 5px;
}
.scroll-actionInabout {
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(127, 190, 241);
  color: #fff;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
  width: 120px;
  border-radius: 4px;
  /* box-shadow: 0 5px 0 cornflowerblue; */
  margin-bottom: 20px;
}
.scroll-actionInabout:active {
  /* box-shadow: none;
  transform: translate3d(0, 5px, 0); */
  
}

/* ２枚目 自己紹介 ここまで*/

/* ３枚目 制作物 */
.production {
  background-color: rgb(127, 190, 241);
  width: 100%;
  height: 100%;
  padding: 10px 40px;
}
.production-head {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
.genre {
  color: rgb(44, 25, 25);
  width: 100px;
  height: 30px;
  background-color: rgb(54, 238, 177);
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
}
.portfolio {
  list-style: none;
  margin-bottom: 50px;
  border-top: 1px solid #fff;
  /* border-bottom: 1px solid #fff; */
  text-align: center;
}
.portfolio-title {
  font-style: normal;
  font-size: 25px;
  text-align: center;
  margin-bottom: 5px;
  color: #fff;
}
.check {
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.portfolio-image {
  background-size: cover;
  width: 60%;
  height: 25vh;
  margin: 0 auto;
  margin-bottom: 10px;
  /* border: 1px solid #fff; */
  background-position: center;
  object-fit: contain;
}

.content-box {
  width: 100%;
  height: 500px;
  background-color: rgb(49, 48, 48);
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #fff;
}
.my-project {
  /* width: 50%; */
  text-align: center;
}
.scroll-actionInSkill {
  font-size: 20px;
  text-decoration: none;
  background-color: #fff;
  color: rgb(127, 190, 241);
  display: block;
  margin: 0 auto;
  margin-top: 7px;
  width: 120px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 20px;
  /* ボタン装飾 ipadは機能しないのでコメントアウト*/
  /* box-shadow: 0 5px 0 rgb(156, 156, 156); */

  
}
.scroll-actionInSkill:active {
  /* ボタン装飾 */
  /* box-shadow: none;
  transform: translate3d(0, 5px, 0); */
}


/* ３枚目 制作物 ここまで*/

/* 4枚目 Skill */
.skills {
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 20px;
}
.skill-head {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}
.language {
  font-size: 22px;
  /* font-weight: bold; */
  margin-bottom: 10px;
}
.parameter {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 2px;
  margin-right: 20px;
}
.skill {
  font-size: 20px;
  list-style: none;
  padding-left: 20px;
  border-radius: 2px;
}
.skill-box {
  width: 100%;
  height: 100%;
  /* display: flex; */
}
.skill-left-content {
  /* justify-content: space-around; */
  /* width: 50%; */
}
.skill-right-content {
  /* justify-content: space-around; */
  /* width: 50%; */
}

.skill-bar {
  width: 100%;
  height: 33%;
}

/* 5枚目 SNS紹介 */
.footer {
  background-color: rgb(56, 55, 55);
  width: 100%;
  height: 100%;
  padding: 50px 0;
}
.contact-head {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
.action {
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}
.icon-box {
  text-align: center;
  position: flex;
}
.icon-git {
  color: rgb(184, 56, 209);
  margin-right: 20px;
  font-size: 12px;
}
.icon-tweet {
  color: rgba(29,161,242,1.00);
  margin-right: 20px;
  font-size: 12px;
}
.icon-qiita {
  color: rgb(11, 192, 41);
  margin-right: 20px;
  font-size: 12px;
}
.icon-blog {
  color: #fff;
  margin-right: 20px;
  font-size: 12px;
}

.PageTop {
  /* margin-top: 50px; */
  
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.PageTop a {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px;
  color: #fff;
  text-align: center;
  background: #323944;
  border: 1px solid #fff;
  opacity: 10;
}

.PageTop-arrow a {
  opacity: 0;
}
/* ４枚目 SNS紹介 ここまで*/

/* 右上固定アイコン */
.menu-bar {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(7, 116, 226, 0.5);
  line-height: 50px;
  z-index: 10;
  border-radius: 5px;
}
