/* １枚目 */
.page-top{
  /* background-color: red; */
  width: 100%;
  height: 100%;
  /* padding: 80px; */
  /* background-image: url(./images/notebook.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.page-top-box {
  position: absolute;
  top: 90px;
  left: 50px;
  /* opacity: 0; */
}
.top-image {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  object-fit: contain;
}

.title {
  color: #fff;
  font-size: 80px;
  font-weight: bold;
}
.infomation {
  margin-left: 50px;
}
.infomation-list {
  margin-top: 7px;
  color: #fff;
  font-size: 40px;
}
.scroll-action {
  /* text-decoration: none; */
  color: #fff;
  font-size: 40px;

  position:relative;
  text-align:center;
  display:inline-block;
  padding:.6em 2em .6em 0;
  text-decoration:none;
  color:#fff;
  /* margin:15px 0; */
  /* font-size:1.5em; */
  /* font-weight:bold; */
  /* line-height:1.3em; */
  
  /* background: linear-gradient(to bottom, rgba(0,159,52,1) 0%,rgba(0,197,65,1) 100%); */
  /* border-radius:15px; */
  /* border:2px outset #6c6; */
  /* box-shadow:1px 1px 10px #666; */
}
.scroll-action:after{
  position:absolute;
  top:45%;
  right:.5em;
  transform: translateY(-50%);
  content: "≫";
  animation:infinite movearrow 1.5s ;
}
@keyframes movearrow {
  0%{margin:0 15px 0 -15px;opacity:.3;}
}
/* １枚目 ここまで*/

/* ２枚目 自己紹介 */
.about{
  /* background-color: blue; */
  width: 100%;
  height: 100％;
  padding: 30px 80px;
  opacity : 0;
  transform: translateY(20px);
  transition: all 1.5s;
}
.heading {
  font-size: 45px;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}
.about-contents {
  width: 100%;
  
}
.about-content {
  display:  flex;
  width: 100%;
  height: 100%;
}
.photo-box {
  width: 33%;
  height: 400px;
}
.photo {
  text-align: center;
}
.icon-image {
  border-radius: 50%;
  padding: 20px;
  width: 70%;
  height: 70%;
}
.team{
  width: 100%;
  height: 100%;
  /* background-color: cadetblue; */
  padding: 10px;
}
.MySearch {
  font-size: 30px;
  margin: 30px 0 15px;
}
.search-list {
  list-style: none;
  margin-bottom: 2px;
}
.introduction-box {
  width: calc(100% - 33%);
  height: 100%;
  padding: 0 20px;
  /* background-color: blueviolet; */
}
.introduction{
  list-style: none;
  font-size: 20px;
  margin-bottom: 5px;
}
.scroll-actionInabout {
  font-size: 30px;
  text-decoration: none;
  background-color: rgb(127, 190, 241);
  color: #fff;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
  width: 150px;
  border-radius: 4px;
  box-shadow: 0 5px 0 cornflowerblue;
}
.scroll-actionInabout:active {
  box-shadow: none;
  transform: translate3d(0, 5px, 0);
}
/* .skill-box {
  width: 100%;
  height: 200px;
  background-color: burlywood;
  padding: 10px;
} */
/* ２枚目 自己紹介 ここまで*/

/* ３枚目 制作物 */
.production {
  background-color: rgb(127, 190, 241);
  width: 100%;
  height: 100%;
  padding: 30px 80px;
  /* opacity : 0;
  transform: translateY(20px);
  transition: all 1.5s; */
}
.production-head {
  font-size: 45px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
.genre {
  color: rgb(44, 25, 25);
  width: 100px;
  height: 30px;
  background-color: rgb(54, 238, 177);
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
}
.portfolio {
  list-style: none;
  margin-bottom: 50px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
  /* slikemようjs */
  /* margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0; */
}
.portfolio-title {
  font-style: normal;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  color: #fff;
}
.check {
  color: #fff;
  text-align: center;
}
.portfolio-image {
  background-size: cover;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-position: center;
  object-fit: contain;
  
}

.content-box {
  width: 100%;
  height: 500px;
  background-color: rgb(49, 48, 48);
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #fff;
  
}
.portfolio-box{
  display: flex;
  overflow: scroll;
  
  /* これ以降はjs */
  /* text-align: center;
  color: #419be0; */
  /* background: white; */
}
.my-project {
  width: 700px;
  text-align: center;
  margin-right: 50px;
  opacity : 0;
  transform: translateY(20px);
  transition: all 1.5s;
}

.team-project {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1.5s;
  margin: 0 auto;
}

.scroll-actionInSkill {
  font-size: 30px;
  text-decoration: none;
  background-color: #fff;
  color: rgb(127, 190, 241);
  display: block;
  margin: 0 auto;
  margin-top: 7px;
  width: 150px;
  border-radius: 4px;
  text-align: center;

  /* ボタン装飾 */
  box-shadow: 0 5px 0 rgb(156, 156, 156);

  
}
.scroll-actionInSkill:active {
  /* ボタン装飾 */
  box-shadow: none;
  transform: translate3d(0, 5px, 0);
}

/* ３枚目 制作物 ここまで*/

/* 4枚目 SKILL */

.skills {
  width: 100%;
  height: 100%;
  padding: 30px 80px;
  opacity : 0;
  transform: translateY(20px);
  transition: all 1.5s;
}
.skill-head {
  font-size: 45px;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}
.language {
  font-size: 22px;
  /* font-weight: bold; */
  margin-bottom: 10px;
}
.parameter {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 2px;
  margin-right: 20px;
}
.skill {
  font-size: 20px;
  list-style: none;
  padding-left: 20px;
  border-radius: 2px;
}
.skill-box {
  width: 100%;
  height: 100%;
  display: flex;
}
.skill-left-content {
  /* justify-content: space-around; */
  width: 50%;
}
.skill-right-content {
  /* justify-content: space-around; */
  width: 50%;
}

.skill-bar {
  width: 100%;
  height: 33%;
}
/* 5枚目 SNS紹介 */
.footer {
  background-color: rgb(56, 55, 55);
  width: 100%;
  height: 100%;
  padding: 50px 0;
}
.contact-head {
  font-size: 45px;
  color:#fff;
  text-align: center;
  margin-bottom: 15px;
}
.action {
  color: #fff;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.icon-box {
  text-align: center;
  position: flex;
}
.icon-git {
  color: rgb(184, 56, 209);
  margin-right: 20px;
}
.icon-tweet {
  color: rgba(29,161,242,1.00);
  margin-right: 20px;
}
.icon-qiita {
  color: rgb(11, 192, 41);
  margin-right: 20px;
}
.icon-blog {
  color: #fff;
  margin-right: 20px;
}
.PageTop {
  /* margin-top: 50px; */
  
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.PageTop a {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px;
  color: #fff;
  text-align: center;
  background: #323944;
  border: 1px solid #fff;
  opacity: 10;
}

.PageTop-arrow a {
  opacity: 0;
}
/* ４枚目 SNS紹介 ここまで*/

/* 右上固定アイコン */
.menu-bar {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(7, 116, 226, 0.5);
  line-height: 50px;
  z-index: 10;
  border-radius: 5px;
}
