/* スマホ対応 */
/* @media screen and (max-width: 320px) and (max-width: 480px) {
  .page-top{
    width: 320px;
    height: 480px;
    background-image: url(./images/notebook.png);
    background-size: cover;
    background-position: center;
  }
  .title {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
  }
} */
* {
  
}
/* １枚目 */
.page-top{
  /* background-color: red; */
  width: 100%;
  height: 945px;
  background-image: url(./images/notebook.png);
  background-size: cover;
  background-position: center;
  padding: 80px;
}
.title {
  color: #fff;
  font-size: 80px;
  font-weight: bold;
}
.infomation {
  margin-left: 50px;
}
.infomation-list {
  color: #fff;
  font-size: 30px;
}
/* １枚目 ここまで*/

/* ２枚目 自己紹介 */
.about{
  /* background-color: blue; */
  width: 100%;
  height: 945px;
  padding: 30px 80px;
}
.heading {
  font-size: 45px;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}
.about-contents {
  width: 100%;
  
}
.about-content {
  display:  flex;
  width: 100%;
  height: 100%;
}
.photo-box {
  width: 33%;
  height: 400px;
}
.photo {
  max-width: 70%;
  height: 70%;
  width: auto;
  max-height: auto;
  margin: 0 auto;
  background-image: url(./images/myself.png);
  background-size: cover;
  border-radius: 50%;
}
.team{
  width: 100%;
  height: 100%;
  /* background-color: cadetblue; */
  padding: 10px;
}
.team-list {
  list-style: none;
  margin-bottom: 2px;
}
.introduction-box {
  width: calc(100% - 33%);
  height: 100%;
  padding: 0 20px;
  /* background-color: blueviolet; */
}
.introduction{
  list-style: none;
  font-size: 20px;
  margin-bottom: 5px;
}
/* .skill-box {
  width: 100%;
  height: 200px;
  background-color: burlywood;
  padding: 10px;
} */
/* ２枚目 自己紹介 ここまで*/

/* ３枚目 制作物 */
.production {
  background-color: rgb(127, 190, 241);
  width: 100%;
  height: 100%;
  padding: 30px 80px;
}
.production-head {
  font-size: 45px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
.genre {
  color: rgb(44, 25, 25);
  width: 100px;
  height: 30px;
  background-color: rgb(54, 238, 177);
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
}
.portfolio {
  list-style: none;
  margin-bottom: 50px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.portfolio-title {
  font-style: normal;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  color: #fff;
}
.check {
  color: #fff;
  text-align: center;
}
.portfolio-image {
  background-image: url(./images/Doc-style.png);
  background-size: cover;
  width: 40%;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #fff;
  background-position: center;
  object-fit: contain;
}
.portfolio-image2 { 
  background-image: url(./images/freeMarket.png);
  background-size: cover;
  max-width: 40%;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #fff;
  background-position: center;
  object-fit: contain;
}

.content-box {
  width: 100%;
  height: 500px;
  background-color: rgb(49, 48, 48);
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #fff;
}

/* ３枚目 制作物 ここまで*/

/* ４枚目 SNS紹介 */
.footer {
  background-color: rgb(56, 55, 55);
  width: 100%;
  height: 50vh;
  padding: 50px 0;
}
.contact-head {
  font-size: 45px;
  color:rgb(24, 241, 140);
  text-align: center;
  margin-bottom: 15px;
}
.action {
  color: rgb(24, 241, 140);
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.icon-box {
  text-align: center;
  position: flex;
}
.icon-git {
  color: rgb(184, 56, 209);
  margin-right: 20px;
}
.icon-tweet {
  color: rgba(29,161,242,1.00);
  margin-right: 20px;
}
.icon-qiita {
  color: rgb(11, 192, 41);
  margin-right: 20px;
}
.icon-blog {
  color: #fff;
  margin-right: 20px;
}
/* ４枚目 SNS紹介 ここまで*/

/* 右上固定アイコン */
.menu-bar {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(7, 116, 226, 0.5);
  line-height: 50px;
  z-index: 10;
  border-radius: 5px;
}
